.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.dataCard {
  background-color: #e6e4e4;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 65%;
  height: 20rem;
}

.customerCard {
  width: 30.5%;
  height: 20rem;
}

.categoryCard {
  width: 30.5%;
  height: 20rem;
}
